.button{
  width:127px;
  height:44px;
  background-color: #C53B00;
  border: none;
}
.banner{
  color: white;
  width: 100%;
  padding: 100px;
  height: auto;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  background: rgb(0,0,0);
  background: radial-gradient(circle, rgba(0,0,0,1) 0%, rgba(110,106,106,1) 0%, rgba(0,0,0,1) 100%);
}
.bannertext{
  color: A6A6A6;
  font-family: sans-serif;
  font-weight: 400;
}
.glasstext{

  color: white;
  font-size: 5rem;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.divtwo{
  overflow: hidden;
 /* width:auto; */
}
.divtwo img{
  width: 110%;
}

.taglinediv{
  position: relative;
}
.taglinediv img{
  width: 100%;
  padding: 10px;
  position: relative;
}
.imgoverlaytext{
  position: absolute;
  margin: 10px auto;
  top: 230px;
  left:180px;
  color: white;
}
.buttontwo{
  background-color:rgb(12, 144, 231);
  border: none;
  padding: 5px;
  border-radius:5px;
}

.ladyimage  {
width: 100%;
}

.girl{
  position: relative;
}
.girllogo{
  position:absolute;
  top: 40px;
  left: 650px;
}
.banner input{
  background-color:inherit;
  color: white;
}
.banner input::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: rgb(241, 223, 223);

}

@media only screen and (max-width: 900px) {
  .imgoverlaytext {
   top: 80px;

   left: 70px;
  }
  .girllogo{
    position:absolute;
    top: 40px;
    left: 350px;
  }
}
@media only screen and (max-width: 600px) {
  .imgoverlaytext {
   top: 80px;

   left: 70px;
  }
  .girllogo{
    position:absolute;
    top: 40px;
    left: 250px;
  }
}